In [1]:
# The code was removed by Watson Studio for sharing.

   HHID  TIME     PASTA  EXPOS        AGE        INCOME  AREA
0     1     1  0.939444      1  61.710758  25186.798772     3
1     1     2  2.560969      2  61.710758  25186.798772     3
2     1     3  0.901123      0  61.710758  25186.798772     3
3     1     4  1.916530      1  61.710758  25186.798772     3
4     1     5  1.548751      0  61.710758  25186.798772     3